<!-- <h1>Appointments(<%= @doctor.appointments.count %>)</h1>
<%# @doctor.appointments.order('date ASC').each do |appointment| %>
  Patient: <%#= appointment.patient.name %>
  Date: <%#= appointment.date.strftime("%d %h %Y, %H:%M") %>
  <%#= link_to doctor_appointment_path(appointment.doctor_id, appointment.id), method: :delete, data: { confirm: "Delete appointment?" } do %>
  Delete appointment
  <%# end %>
<%# end %> -->
